---
import DropdownMenu from './DropdownMenu';
const logo = 'logo.png';
const linkclass = 'font-semibold hover:font-bold'
---

<div id="Home" class="fixed top-0 bg-primary text-white min-w-full z-50 ">
 <div class="flex items-center justify-between max-w-4xl mx-auto px-5 max-w-20 sm:max-h-14">
  <a class="flex items-center text-2xl md:text-3xl font-bold" href="/">
    <h1 class="sm:max-w-fit max-w-min py-1">Infinity Frequencies</h1>
    <img class="object-cover h-16 h-16 p-2.5" src={logo} alt="">
  </a>
<div class="flex flex-col md:flex-row space-x-2 px-3 hidden lg:inline text-lg">
  <a class={linkclass} href="/">Home</a>
  <a class={linkclass} href="#Services">Services</a>
  <a class={linkclass} href="#About">About Us</a>
  <a class={linkclass} href="#Contact">Contact</a>
</div>
  <DropdownMenu class="inline lg:hidden" client:visible/>
 </div>
</div>
